@import "vars.scss";

body,html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-size:cover!important;
  color: rgba(255, 255, 255, 0.7);
}
h1,
h1 *{
  font-style: normal!important;
  font-weight: 300!important;
  line-height: normal!important;
  font-size: 36px!important;
}
* {
  outline:none;
  font-family: $main_font,sans-serif;
  color: inherit;
}
body:not(.main_page),
body.contacts_page,
body.other_page
{
  background:url('../img/maiin_bg.png') no-repeat center center!important;
  background-size:cover!important;
}

body.other_page {
  min-height: 100vh;
  .logo {
    margin: 0 auto;
  }
  nav {
    margin: 0;
  }
  .burger_btn {
    right: 20px;
  }
  main.container {
    position: relative;
  }
  header {
    padding: 62px 0;
  }
}

body.main_page {
  background: url('../img/main_bg_person.jpg') no-repeat center center;

  main.container {
    max-width: 750px;
    position: relative;
  }
  footer {
    position:absolute;
    bottom:10px;
    z-index:1;
  }
}
nav {
  margin-top: 15px;
  a {
    padding: 5px;
    text-align: center;
  }
}
a.foot {
  border-bottom: 1px solid $red;
  color: $red;
  &:hover {
    border-bottom:none
  }
}
a {
  font-style: normal;
  font-weight: normal;
  transition: .5s ease;
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 14px;
  &:hover {
    color: $red;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.flex-center-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.responsive {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.inline {
  display:inline;
}
.logo {
  width: 92%;
  max-height: 120px;
  margin: 0px auto;
  margin-top: 50px;
}
.burger_btn {
  position: absolute;
  z-index:5000;
  cursor: pointer;
  right:-17.4%;
  top:50px;
  border:0;
  width:50px;
  transition: .5s ease;
  background:none;
  height:50px;
  span {
    display:block;
    background:#fff;
    width:35px;
    height:2px;
    transition: .5s ease;
    border-radius: 5px;
  }
  .center_item {
    margin: 7px 0px;
  }
}

//preloader
#preloader {
  width:100%;
  height:100%;
  position:absolute;
  top: 0;
  overflow: hidden;
  left:0;
  z-index:9999;
  transition: .5s ease;
  animation: preloaderZindex 2s ease 1 both;
  &:before {
    transition: .5s ease;
    content: '';
    width:100px;
    height:100px;
    background: rgba(0,0,0,.5);
    display:block;
    position: absolute;
    top: -50px;
    left: -50px;
    -webkit-border-radius: 50%;
    opacity:.5;
    -moz-border-radius: 50%;
    border-radius: 50%;

    animation: toPreloader 1.5s ease 1 both;
  }
}
@keyframes preloaderZindex {
  to {
    z-index:-9999;
  }
}
@keyframes toPreloader {
  to {
    transform: scale(100);
    opacity:0;
  }
}


.scale-0 {
  transform: scale(0);
  opacity: 0;
}
.scale-1 {
  transform: scale(1);
  opacity: 1;
}
.burger_menu {
  width: 31%;
  z-index:4000;
  transition: .8s ease;
  background: #121212;
  height:100%;
  position:fixed;
  top:0;
  right:-100%;
  opacity:0;
  .fa-icon {
    font-size: 30px;
  }
  a {
    font-size: 16px;
    width:34%;
    margin: 15px 0;
    text-align:right;
  }
  .row_links {
    width:34%;
    margin: 15px 0;
    text-align:right;

    > .flex-center-row {
      flex-wrap: nowrap!important;
    }
  }
}
.flex-left {
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction: column;
}
.burger_menu_active {
  right:0;
  opacity:1;
}
.burger_active {
  span {
    background:$red;
    position: absolute;
  }
  .center_item {
    position:static!important;
    transform: scale(0);
    opacity:0;
  }
  span:first-child {
    transform-origin: center;
    transform: rotate(45deg);
  }
  span:last-child {
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
.links_hidden {
  display:none;
}
.contacts_block {
  height:58%;
  h1 a,p {
    position: relative;
    transition: .5s ease;
    text-align: center;
    color: transparent;
    -webkit-animation: blur 3s alternate 1 forwards;
  }
}
@-webkit-keyframes blur {
  0% {
    text-shadow: 0 0 100px rgba(255, 255, 255, 0);
    margin-left: -100px;
  }
  100% {
    text-shadow: 0 0 0.001px rgba(255, 255, 255, 1);
    margin-left: 0px;
  }
}
.container_blocks {
  margin-top:40px;
}
.video_page {
  .item_block {
    position: relative;
    &:before {
      width: 31px;
      height: 42px;
      background: url('../img/r2.png') no-repeat center center;
      content: '';
      display:block;
      transition: .5s ease;
      z-index:3000;
      position:absolute;
      top: 43%;
      left: 45%;
    }
    &:after {
      width: 100%;
      height: 100%;
      z-index:1;
      position: absolute;
      content: '';
      transition: .5s ease;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.35);
    }
    &:hover {
      &:before {
        background: url('../img/r1.png') no-repeat center center;
      }
    }
    &:active {
      &:before {
        background: url('../img/r2.png') no-repeat center center;
      }
    }
  }
}
.item_block {
  height: 273px;
  overflow:hidden;
  cursor:pointer;
  display:block;
  width: 366px;
  margin: 7px;
  * {
    transition: .5s ease;
  }
  &:hover {
    img {
      filter:none!important;
    }
  }
  img {
    filter: url(assets/img/filter.svg#grayscale); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    filter: grayscale(1);
    transition: all .5s;
  }
}
.filter {
  max-width:700px!important;
  margin: 0 auto;
  a {
    width: 150px;
    text-align:center;
    position:relative;
    &:before {
      content:'';
      display:block;
      width:45px;
      height:1px;
      background: $red;
      transition: .5s ease;
      opacity:0;
      transform: translateY(5px);
      position:absolute;
      bottom:-4px!important;
      left: 35%!important;
    }
  }
  a.active {
    color:$red;
    &:before {
      content:'';
      display:block;
      width:45px;
      height:1px;
      background: $red;
      transition: .5s ease;
      opacity:1;
      transform: translateY(0px);
      position:absolute;
      bottom:-2.5px;
      left: 32.5%;
    }
  }
}
.fa-icon {
  text-align: center!important;
  i {
    text-align:center!important;
  }
}
@media screen and (max-width: 1000px) {
  .menu_items {
    max-height: 200px;
    overflow-y: auto;
    margin-top:100px;
  }
  body.other_page .burger_btn {
    position:fixed;
  }
}
@media screen and (min-width:1010px) and (max-width:1060px) {

}
@media screen and (min-width: 700px) and (max-width:1010px) {
  .menu_items {
    max-height: 200px!important;
    overflow-y: auto!important;
  }
  body.other_page {
    .burger_btn {
      right:1.5%!important;
    }
  }
  .burger_menu {
    width:50%;
    a, .row_links {
      width:90%;
      margin: 10px 0;
    }
  }
  .burger_btn {
    right:35px;
    top:35px;
  }
  .contacts_block {
    height:75%;
  }
}
@media screen and (max-width:800px) {
  .filter a {
    padding: 15px;
  }
  body.other_page {
    .logo {
      width: 65%;
      margin-left: 10px;
    }
    header {
      padding: 50px 0;
      .col-xl-3 {
        flex: 0 0 60%;
        max-width: 60%;
      }
    }
    .burger_btn {
      right: 5%;
      top:40px;
    }
    footer {
      .col-xl-6 {
        max-width:49.99%!important;
      }
    }
  }
  .main_page {
    footer {
      .col-xl-6 {
        max-width:49.99%!important;
      }
    }
    .logo {
      width:50%;
      margin-left:0px;
    }

  }
  .main_nav {
    display:none;
  }
  h1,h1 * {
    font-size: 30px!important;
  }
  .burger_menu {
    width:50%;
    .menu_items {
      .links_hidden {
        display: block;
      }
    }
    a, .row_links {
      width:90%;
      margin: 10px 0;
    }
  }
  .burger_btn {
    right:35px;
    top:35px;
  }
  .contacts_block {
    height:75%;
  }
}