//= menu.html
<!--burger menu-->
<main class="container">
    <button class="burger_btn flex-center">
        <span></span>
        <span class="burget_item center_item"></span>
        <span></span>
    </button>
    <header class="container flex-center">
        <a href="" class="flex-center"><img src="assets/img/logo.png" class="logo" alt=""></a>
        <nav class="row main_nav">
            <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3"><a href="/photo.html" class="flex-center">Photography</a></div>
            <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3"><a href="/video.html" class="flex-center">Video</a></div>
            <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3"><a href="" class="flex-center">Production</a></div>
            <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3"><a href="" class="flex-center">Post production</a></div>
        </nav>
    </header>
</main>