<aside class="burger_menu flex-center">
    <article class="menu_items">
        <nav class="container flex-left">
            <a href="photo.html">Фотография</a>
            <a href="video.html">Видео</a>
            <a href="photo.html">Art</a>
            <a href="contacts.html">Контакты</a>
            <a href="photo.html" class="links_hidden">Photography</a>
            <a href="video.html" class="links_hidden">Video</a>
            <a href="" class="links_hidden">Production</a>
            <a href="" class="links_hidden">Post production</a>
            <div class="row_links">
                <div class="flex-center-row">
                    <a href="" class="fa-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="fa-icon"><i class="fab fa-instagram"></i></a>
                    <a href="" class="fa-icon"><i class="fab fa-vk"></i></a>
                </div>
            </div>
        </nav>
    </article>
</aside>